<script lang="ts">
  import { game, go, choices } from "engine/engine";
  import data from "data/data";

  function getNested(str: string, initial: unknown) {
    return str.split(".").reduce((obj, prop) => obj?.[prop], initial);
  }

  let currentScene: string = "";
  $: parsedChoices = $choices.map(([tag, label]) => {
    return [parseLoc(tag), label] as [() => void, string];
  });

  function parseLoc(sceneTag: string): () => void {
    let tagArray = currentScene.split(".");
    let tagStr = tagArray.join(".").concat(sceneTag);
    let nextloc = getNested(tagStr, data[game.scenario].scenes);
    let i = 1;
    while (typeof nextloc == "undefined") {
      tagArray.pop();
      tagStr = tagArray.join(".").concat(sceneTag);
      nextloc = getNested(tagStr, data[game.scenario].scenes);
      i++;
      if (i > 5) throw new Error(`Invalid location: ${sceneTag}`);
    }

    if (typeof nextloc == "object") {
      nextloc = nextloc["main"];
    }
    currentScene = tagStr;

    return nextloc as () => void;
  }
</script>

<div class="choices">
  {#each parsedChoices as [func, label]}
    <div class="button" on:click={() => go(func)}>
      ► {label}
    </div>
  {/each}
</div>

<style>
  .choices {
    margin-bottom: 10px;
  }
  .button {
    padding: 6px;
  }
  .button:hover {
    cursor: pointer;
    background-color: #ffff90;
  }
</style>
