<script lang="ts">
  export let inv: [string, number][] = [];

  let items = "";
  const list = [];
  for (const [item, amount] of inv) {
    list.push(`${amount} of ${item}`);
  }
  items = list.join(", ");
</script>

<div class="inv">
  <span>Inventory: {items}</span>
  <!-- {#each inv as item}
    <span>{item[1]} of {item[0]}, </span>
  {/each} -->
</div>

<style>
  .inv {
    padding: 5px;
  }
</style>
