<script lang="ts">
  import { stats } from "engine/engine";
</script>

<div class="stats">
  {#each $stats as [label, value]}
    <div>
      <div>{label}</div>
      <div>{value}</div>
    </div>
  {/each}
</div>

<style>
  .stats {
    display: flex;
  }

  .stats > div {
    flex: auto;
  }
  .stats div div {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .stats div:nth-child(even) div {
    background: #ffff90;
  }
  .stats div:nth-child(odd) div {
    background: #ffffb0;
  }
</style>
