<script lang="ts">
  import { version } from "../VERSION";
  import Desc from "./ui/Desc.svelte";
  import Choices from "./ui/Choices.svelte";
  import Stats from "./ui/Stats.svelte";
  import Inv from "./ui/Inv.svelte";

  import data from "data/data";
  import { startGame } from "engine/engine";

  let scenario = "original";

  let startPage = true;
  function intro() {
    startPage = false;
    startGame(scenario);
    data[scenario].intro();
  }
</script>

<main>
  <header>
    <div>Inspired by drw</div>
    <div style="flex: auto; text-align: right">
      Revamped by HollyLeaves (ver: {version})
    </div>
  </header>

  <hr />

  {#if startPage}
    <div style="text-align:center; min-height:200px;">
      <h1>Melissa Explains It All</h1>
      <button on:click={intro} style="width:150px;height: auto;">
        <h2>
          <b>Start</b>
        </h2>
      </button>
    </div>
    <div style="text-align:center;">
      <a href="https://gitlab.com/hollyleaves/melissa">View source on GitLab</a>
    </div>
  {:else}
    <div class="text">
      <Desc />
      <Choices />
    </div>

    <Stats />
    <Inv />
  {/if}
</main>

<style>
  main {
    background-color: #ffffe0;
    min-height: 200px;
  }
  header {
    background-color: #ffff66;
    display: flex;
    padding: 2px;
  }
  .text {
    padding-left: 20px;
    padding-right: 20px;
  }
</style>
